<?xml version="1.0" encoding="UTF-8"?>
<!--
一、基本环境配置	
	1、需引入logback 1.1.2版本的jar包，包括logback-core和logback-classic，将低版本的exclusion。
	2、需引入jcl-over-slf4j.jar代替commons-logging、引入log4j-over-slf4j.jar代替log4j、引入jul-to-slf4j.jar代替jdk logging。
二、注意事项
	1、需将直接或间接引用的以下包移除或exclusion：
		1)commons-logging
		2)log4j
		3)slf4j-log4j12
	2、如果引入引入jul-to-slf4j，则需要在系统初始化时调用以下方法：
		SLF4JBridgeHandler.removeHandlersForRootLogger();
		SLF4JBridgeHandler.install();
-->
<configuration scan="false" scanPeriod="300 seconds" debug="false">
	<include resource="${profile.properties}/logback-inc.xml" />
</configuration>