<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">

	<property resource="conf/logback.properties" />
	<timestamp key="year" datePattern="yyyy" />

	<appender name="stdoutAppender" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${logback.stdoutLevel}</level>
		</filter>
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>${logback.msg}</pattern>
		</encoder>
	</appender>

	<appender name="debugAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logback.userHome}/debug/${logback.fileName}${logback.suffix}
		</file>

		<!-- DENY，NEUTRAL，ACCEPT -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

		<encoder>
			<pattern>${logback.msg}</pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${logback.userHome}/debug/%d{${logback.datePattern}}/${logback.fileName}.%i.gz</fileNamePattern>
			<!-- keep ${logback.maxHistory} days' worth of history -->
      		<maxHistory>${logback.maxHistory}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches ${logback.maxFileSize} -->
				<maxFileSize>${logback.maxFileSize}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="infoAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logback.userHome}/info/${logback.fileName}${logback.suffix}
		</file>

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

		<encoder>
			<pattern>${logback.msg}</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.userHome}/info/%d{${logback.datePattern}}/${logback.fileName}.%i.gz</fileNamePattern>
      		<maxHistory>${logback.maxHistory}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${logback.maxFileSize}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="errorAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logback.userHome}/error/${logback.fileName}${logback.suffix}
		</file>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>

		<encoder>
			<pattern>${logback.msg}</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.userHome}/error/%d{${logback.datePattern}}/${logback.fileName}.%i.gz</fileNamePattern>
      		<maxHistory>${logback.maxHistory}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${logback.maxFileSize}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF -->
	<root level="${logback.rootLevel}">
		<appender-ref ref="stdoutAppender" />
		<appender-ref ref="debugAppender" />
		<appender-ref ref="infoAppender" />
		<appender-ref ref="errorAppender" />
	</root>

</configuration>
